

body{
  background-color: #FEF5E7 ;
}


#error-message{
  color: white;
  margin-left: 150px;
  font-size: 20px;
}





.div1
{

    background-color:#0B453E;
    height:500px;
    width: 40%;
   margin-top: 30px;
   margin-left: 30%;;
   border-radius: 8px;

}

.heading
{
       text-align: center;
       padding-top: 20px;
       color: white;
       font-size: 31px;
}
.para
{
    text-align: center;
    color: white;
    font-size: 20px;
}

#label1
{

    padding-left: 10px;
    height: 32px;
   font-size: 22px;
    color: #BBFDF5;
}

#id1
{
    margin-left: 20px;
    width: 370px;
    height: 40px;
    border-radius: 8px;

}

#label2
{

    height: 32px;
  font-size: 22px;
    color:#BBFDF5;
    padding-left: 10px;
}
#id2
{
 margin-left: 20px;
 width: 370px;
 height: 40px;
 border-radius: 8px;

}

#check-btn
{

    width: 25%;
    height:40px;
    margin-left: 160px;
    border-radius: 8px;
    background-color: #BBFDFF;
    font-size: 20px;
}

#caption1
{
    font-size:28px;;
    color:BBFDF5;
}

.no-of-notes
{
    background-color: white;
    /* border: 1px solid black; */
    width:11%;
    height: 28px;
    /* line-height: 10px; */
    /* padding-left: 10px; */
}

.note
{
    background-color: #7AF3E3;
 font-size: 20px;
    border: 1px solid black;

}

.note1
{
    background-color: #7AF3E3;
    font-size: 20px;
}
.table1
{
    margin-left: 20px;
}

.div1
{
  /* margin-left: 10px; */
}
