

.div1
{
    /* display: flex;
    flex-direction: column; */
    /* width: 50vw; */
    background-color:#0B453E;
    height:430px;
    width: 40%;
    /* margin-top: 20px; */
    margin: auto;
}

.heading
{
       text-align: center;
       padding-top: 20px;
       color: white;
}
.para
{
    text-align: center;
    color: white;
}

#label1
{
    margin-left: 20px;
    /* text-align: center; */
    height: 32px;
    margin-left: 140px;
    color: #BBFDF5;
}

#id1
{
    margin-left: 20px;
    width: 350px;
    height: 30px;
    border-radius: 3px;

}
    
#label2
{
    margin-left: 20px;
    /* text-align: center; */
    height: 32px;
    margin-left: 140px;
    color:#BBFDF5;
}
#id2
{
 margin-left: 20px;
 width: 350px;
 height: 30px;
 border-radius: 3px;

}

#check-btn
{
   
    width: 17%;
  height: 27px;
    margin-left: 140px;
    border-radius: 3px;
    background-color: #BBFDFF;
}

#caption1
{
    font-size: large;
    color:BBFDF5;
}

#no-of-notes
{
    background-color: white;
    border: 1px solid black;
    width:11%;
    height: 28px;
    /* line-height: 10px; */
    /* padding-left: 10px; */
}

.note
{
    background-color: #7AF3E3;

    border: 1px solid black;
    
}

.note1
{
    background-color: #7AF3E3;
}
.table1
{
    margin-left: 20px;
}